<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>انشاء حساب</title>
    <link rel="stylesheet" href="style/form.css">
</head>
<body>

    <div class="container">
        <h1>انشاء حساب</h1>
        <input type="text" placeholder="اسمك بالكامل">
        <input type="email" placeholder="البريد الاكتروني">
        <input type="password" placeholder="كلمة المرور">
        <div class="btns">
            <a href="#"> تسجيل الدخول؟</a>
            <button>انشاء حساب</button>
        </div>
    </div>
    
</body>
</html>